<template>
    <div class="slds-grid slds-gutters slds-wrap slds-p-horizonal_large">
        <div class="slds-col slds-size_2-of-12">
            <div class="slds-border_bottom slds-text-title_caps slds-text-title_bold slds-p-bottom_small slds-border_right">Filters</div>
            <div class="slds-border_bottom slds-border_right slds-p-around_medium">
                <p class="slds-text-title_caps slds-text-title_bold slds-m-bottom_small">Price Range</p>
                <lightning-slider label="Price" step="100" min={minPrice} max={maxPrice} variant="label-hidden"
                    onchange={filterProducts}></lightning-slider>
            </div>
        </div>

        <div class="slds-col slds-size_8-of-12">
            <div class="slds-grid slds-gutters slds-wrap">
                <template for:each={listOfProducts} for:item="product">
                    <div class="flip-card slds-m-bottom_medium slds-size_1-of-1 slds-col slds-large-size_1-of-3 slds-medium-size_1-of-2 slds-small-size_1-of-1 slds-m-bottom_large"
                        key={product.productTitle}>
                        <div class="card flip-card-inner ">
                            <div class="flip-card-front">
                                <img class="product-image" src={product.imageURL} alt="Product Image">
                            </div>
                            <div class="flip-card-back slds-p-around_medium">
                                <p>{product.itemDescription}</p>
                            </div>
                        </div>
                        <div class="buy-section container ">
                            <div class="slds-grid slds-m-top_x-small">
                                <div class="slds-size_9-of-12">
                                    <p><b>{product.itemName}</b></p>
                                    <p><b>Points Needed : </b>{product.itemPrice}</p>
                                </div>
                                <div class="slds-size_3-of-12">
                                    <button onclick={handleClick} data-name={product.itemName} data-price={product.itemPrice}
                                        data-id={product.itemId} class="slds-button slds-button_brand">Buy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>

        <div class="slds-col slds-size_2-of-12">
            <div class="slds-border_bottom slds-text-title_caps slds-text-title_bold slds-p-bottom_small slds-text-align_center slds-border_right">
                <p class="slds-m-bottom_small">Current Balance</p>
                <p>{userPoint} Points</p>
            </div>
            
            <div class="slds-text-title_caps slds-text-title_bold slds-p-vertical_small  slds-text-align_center slds-border_right">
                My Purchase History
            </div>
            <template for:each={purchaseHistoryList} for:item="history">
                <div class={history.cssClasses} key={history.purchaseDate}>
                    <p>Item Name : {history.itemName}</p>
                    <p>Item Price : {history.itemPrice}</p>
                    <p>Purchase Date : <lightning-formatted-date-time value={history.purchaseDate}></lightning-formatted-date-time>
                    </p>
                    <p>Status : {history.itemStatus}</p>
                </div>
            </template>
        </div>
    </div>



    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1"
        class="slds-modal purchage-confirmation-modal">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Confirmation</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <p>You are purchasing {currentItemName} for {currentItemPrice} points. Plase confirm.</p>
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick={closeModal}>Cancel</button>
                <button class="slds-button slds-button_brand" onclick={confirmPurchase}>Confirm</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop"></div>

</template>