.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius : 5px;
  text-align: center;
}

.card-under-approval{
  background-color : #ffb75d;
}

.card-approved{
  background-color : #04844b;
}

.card-rejected{
  background-color :#c23934;
}

.text-white{
  color: #fff;
}

.card-history{
  text-align: left !important;
}
.flip-card-inner:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.buy-section {
  padding: 2px 16px;
  text-align: left !important;
  position: relative;
  height: 3rem;
  top: -3rem;
  background: #fff;
}

img {
  border-radius: 5px 5px 0 0;
  height: 18rem !important;
}

.flip-card-inner:hover {
  transform: rotateX(180deg);
}

.card-detail {
  background-color: dodgerblue;
  color: white;
}




/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  height: 21rem;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  text-align: left !important;
  transform: rotateX(180deg);
}