<template>
    <img src={imageURL}>
    <lightning-file-upload label="Attach Image" name="imageUploader" accept={acceptedFormats} record-id={recordId}
        onuploadfinished={handleUploadFinished}>
    </lightning-file-upload>
</template>